<form ng-submit="getResults(location.postcode)">
    <h1>Convert postcodes to latitude longitude</h1>
    <p>What postcode?</p>
    <input ng-model="location.postcode" type="text" name="postcode" placeholder="postcode">
    <input type="submit" name="get-results" value="Get Results">
</form>
<div>
    <h2>Results</h2>
    <p>Longitude: {{location.longitude}}</p>
    <p>Longitude: {{location.latitude}}</p>
</div>
<leaflet id="map" center="center" event-broadcast="events" defaults="defaults"></leaflet>
